<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <topmenu>selfont</topmenu>
  <topmenu>paragraph</topmenu>
  <topmenu>justifyright</topmenu>
  <topmenu>justifycenter</topmenu>
  <topmenu>justifyleft</topmenu>
  <topmenu>paste</topmenu>
  <topmenu>copy</topmenu>
  <topmenu>cut</topmenu>
  <topmenu>delete</topmenu>
  <topmenu>inserthorizontalrule</topmenu>
  <topmenu>font</topmenu>
  <topmenu>createlink</topmenu>
  <topmenu>removeformat</topmenu>
</configuration>