<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <topmenu>dragtoolbar</topmenu>
  <topmenu>paragraph</topmenu>
  <topmenu>specialtype</topmenu>
  <topmenu>dragtoolbarend</topmenu>
  <topmenu>dragtoolbar</topmenu>
  <topmenu>justifyleft</topmenu>
  <topmenu>justifycenter</topmenu>
  <topmenu>justifyright</topmenu>
  <topmenu>blank</topmenu>
  <topmenu>insertorderedlist</topmenu>
  <topmenu>insertunorderedlist</topmenu>
  <topmenu>outdent</topmenu>
  <topmenu>indent</topmenu>
  <topmenu>blank</topmenu>
  <topmenu>undo</topmenu>
  <topmenu>redo</topmenu>
  <topmenu>blank</topmenu>
  <topmenu>delete</topmenu>
  <topmenu>cut</topmenu>
  <topmenu>search</topmenu>
  <topmenu>copy</topmenu>
  <topmenu>paste</topmenu>
  <topmenu>printer</topmenu>
  <topmenu>dragtoolbarend</topmenu>
  <topmenu>br</topmenu>
  <topmenu>dragtoolbar</topmenu>
  <topmenu>selFont</topmenu>
  <topmenu>fontSize</topmenu>
  <topmenu>dragtoolbarend</topmenu>
  <topmenu>dragtoolbar</topmenu>
  <topmenu>bold</topmenu>
  <topmenu>italic</topmenu>
  <topmenu>underline</topmenu>
  <topmenu>blank</topmenu>
  <topmenu>inserthorizontalrule</topmenu>
  <topmenu>font</topmenu>
  <topmenu>bgcolor</topmenu>
  <topmenu>createlink</topmenu>
  <topmenu>blank</topmenu>
  <topmenu>fullscreen</topmenu>
  <topmenu>table</topmenu>
  <topmenu>blank</topmenu>
  <topmenu>insertfile</topmenu>
  <topmenu>insertimage</topmenu>
  <topmenu>insertmedia</topmenu>
  <topmenu>inserttemplate</topmenu>
  <topmenu>date</topmenu>
  <topmenu>emot</topmenu>
  <topmenu>dragtoolbarend</topmenu>
  <topmenu>br</topmenu>
  <topmenu>dragtoolbar</topmenu>
  <topmenu>imgsource</topmenu>
  <topmenu>imgedit</topmenu>
  <topmenu>imgpreview</topmenu>
  <topmenu>plus</topmenu>
  <topmenu>min</topmenu>
  <topmenu>dragtoolbarend</topmenu>
  <topmenu>dragtoolbar</topmenu>
  <topmenu>getpage</topmenu>
  <plugin_topmenu>openwin,wordfunction,importword.aspx,img/word.gif,400,90</plugin_topmenu>
  <topmenu>symbol</topmenu>
  <topmenu>codehighlight</topmenu>
  <topmenu>help</topmenu>
  <topmenu>dragtoolbarend</topmenu>
</configuration>