<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--dragtoolbar是可拖曳菜单定义的开始标记-->
  <topmenu>dragtoolbar</topmenu>
  <!--topmenu配置节,使用此配置节配置的菜单功能将出现在控件的顶端菜单栏-->
  <topmenu>paragraph</topmenu>
  <topmenu>specialtype</topmenu>
  <topmenu>dragtoolbarend</topmenu>
  <!--dragtoolbarend是可拖曳菜单定义的结束标记,必须与dragtoolbar开始标记配对使用,标记区域内的菜单功能将组成一个可拖动的菜单工具栏-->
  <topmenu>dragtoolbar</topmenu>
  <topmenu>justifyleft</topmenu>
  <topmenu>justifycenter</topmenu>
  <topmenu>justifyright</topmenu>
  <!--blank产生一个空格,使功能菜单图标与图标之间产生一个空格-->
  <topmenu>blank</topmenu>
  <topmenu>insertorderedlist</topmenu>
  <topmenu>insertunorderedlist</topmenu>
  <topmenu>outdent</topmenu>
  <topmenu>indent</topmenu>
  <topmenu>blank</topmenu>
  <topmenu>undo</topmenu>
  <topmenu>redo</topmenu>
  <topmenu>blank</topmenu>
  <topmenu>delete</topmenu>
  <topmenu>cut</topmenu>
  <topmenu>search</topmenu>
  <topmenu>copy</topmenu>
  <topmenu>paste</topmenu>
  <topmenu>printer</topmenu>
  <topmenu>dragtoolbarend</topmenu>
  <!--br产生一个换行符,使功能菜单界面换行-->
  <topmenu>br</topmenu>
  <topmenu>dragtoolbar</topmenu>
  <topmenu>selFont</topmenu>
  <topmenu>fontSize</topmenu>
  <topmenu>dragtoolbarend</topmenu>
  <topmenu>dragtoolbar</topmenu>
  <topmenu>bold</topmenu>
  <topmenu>italic</topmenu>
  <topmenu>underline</topmenu>
  <topmenu>blank</topmenu>
  <topmenu>inserthorizontalrule</topmenu>
  <topmenu>font</topmenu>
  <topmenu>bgcolor</topmenu>
  <topmenu>createlink</topmenu>
  <topmenu>blank</topmenu>
  <topmenu>fullscreen</topmenu>
  <topmenu>table</topmenu>
  <topmenu>blank</topmenu>
  <topmenu>insertfile</topmenu>
  <topmenu>insertimage</topmenu>
  <topmenu>insertmedia</topmenu>
  <topmenu>inserttemplate</topmenu>
  <topmenu>pageoutput</topmenu>
  <topmenu>emot</topmenu>
  <!--商业版提供的可隐藏工具栏配置的开始标记,toolbarhide配置节默认为隐藏工具栏-->
  <topmenu>dragtoolbarend</topmenu>
  <!--statusmenu配置节,使用此配置节配置的菜单功能将出现在控件的状态工具栏-->
  <statusmenu>dragtoolbar</statusmenu>
  <statusmenu>imgsource</statusmenu>
  <statusmenu>imgedit</statusmenu>
  <statusmenu>imgpreview</statusmenu>
  <statusmenu>plus</statusmenu>
  <statusmenu>min</statusmenu>
  <statusmenu>dragtoolbarend</statusmenu>
  <!--bottommenu配置节,使用此配置节配置的菜单功能将出现在控件的底部工具栏-->
  <bottommenu>dragtoolbar</bottommenu>
  <bottommenu>getpage</bottommenu>
  <!--外挂插件定义,配置节以<plugin_所在工具栏名称>命名,以逗号分隔各参数,第1参数为插件的类型(openwin或command),第2参数为功能插件的名称,第3是新开窗口的所在页面(页面请放到system_dntb目录下),第4是插件显示的图标相对路径(相对于system_dntb文件夹),第5和6分别是新开窗口的宽度和高度-->
  <plugin_bottommenu>openwin,wordfunction,importword.aspx,img/word.gif,400,90</plugin_bottommenu>
  <bottommenu>symbol</bottommenu>
  <bottommenu>codehighlight</bottommenu>
  <bottommenu>help</bottommenu>
  <bottommenu>dragtoolbarend</bottommenu>
</configuration>