<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <topmenu>dragtoolbar</topmenu>
  <topmenu>paragraph</topmenu>
  <topmenu>specialtype</topmenu>
  <topmenu>dragtoolbarend</topmenu>
  <topmenu>dragtoolbar</topmenu>
  <topmenu>justifyleft</topmenu>
  <topmenu>justifycenter</topmenu>
  <topmenu>justifyright</topmenu>
  <topmenu>blank</topmenu>
  <topmenu>insertorderedlist</topmenu>
  <topmenu>insertunorderedlist</topmenu>
  <topmenu>outdent</topmenu>
  <topmenu>indent</topmenu>
  <topmenu>blank</topmenu>
  <topmenu>undo</topmenu>
  <topmenu>redo</topmenu>
  <topmenu>blank</topmenu>
  <topmenu>delete</topmenu>
  <topmenu>cut</topmenu>
  <topmenu>search</topmenu>
  <topmenu>copy</topmenu>
  <topmenu>paste</topmenu>
  <topmenu>printer</topmenu>
  <topmenu>dragtoolbarend</topmenu>
  <topmenu>br</topmenu>
  <bottommenu>dragtoolbar</bottommenu>
  <bottommenu>selFont</bottommenu>
  <bottommenu>fontSize</bottommenu>
  <bottommenu>dragtoolbarend</bottommenu>
  <bottommenu>dragtoolbar</bottommenu>
  <bottommenu>bold</bottommenu>
  <bottommenu>italic</bottommenu>
  <bottommenu>underline</bottommenu>
  <bottommenu>blank</bottommenu>
  <bottommenu>inserthorizontalrule</bottommenu>
  <bottommenu>font</bottommenu>
  <bottommenu>bgcolor</bottommenu>
  <bottommenu>createlink</bottommenu>
  <bottommenu>blank</bottommenu>
  <bottommenu>fullscreen</bottommenu>
  <bottommenu>table</bottommenu>
  <bottommenu>blank</bottommenu>
  <bottommenu>insertfile</bottommenu>
  <bottommenu>insertimage</bottommenu>
  <bottommenu>insertmedia</bottommenu>
  <bottommenu>inserttemplate</bottommenu>
  <bottommenu>date</bottommenu>
  <bottommenu>emot</bottommenu>
  <bottommenu>dragtoolbarend</bottommenu>
  <sidemenu>dragtoolbar</sidemenu>
  <sidemenu>imgsource</sidemenu>
  <sidemenu>imgedit</sidemenu>
  <sidemenu>imgpreview</sidemenu>
  <sidemenu>plus</sidemenu>
  <sidemenu>min</sidemenu>
  <sidemenu>dragtoolbarend</sidemenu>
  <sidemenu>dragtoolbar</sidemenu>
  <sidemenu>getpage</sidemenu>
  <plugin_sidemenu>openwin,wordfunction,importword.aspx,img/word.gif,400,90</plugin_sidemenu>
  <sidemenu>symbol</sidemenu>
  <sidemenu>codehighlight</sidemenu>
  <sidemenu>help</sidemenu>
  <sidemenu>dragtoolbarend</sidemenu>
</configuration>