<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <topmenu>dragtoolbar</topmenu>
  <topmenu>paragraph</topmenu>
  <topmenu>specialtype</topmenu>
  <topmenu>dragtoolbarend</topmenu>
  <topmenu>dragtoolbar</topmenu>
  <!--可隐藏菜单工具栏配置的开始标记,toolbarshow配置节默认为显示工具栏-->
  <topmenu>toolbarshow</topmenu>
  <topmenu>justifyleft</topmenu>
  <topmenu>justifycenter</topmenu>
  <topmenu>justifyright</topmenu>
  <topmenu>blank</topmenu>
  <topmenu>insertorderedlist</topmenu>
  <topmenu>insertunorderedlist</topmenu>
  <topmenu>outdent</topmenu>
  <topmenu>indent</topmenu>
  <topmenu>blank</topmenu>
  <topmenu>undo</topmenu>
  <topmenu>redo</topmenu>
  <topmenu>blank</topmenu>
  <topmenu>delete</topmenu>
  <topmenu>cut</topmenu>
  <topmenu>search</topmenu>
  <topmenu>copy</topmenu>
  <topmenu>paste</topmenu>
  <topmenu>printer</topmenu>
  <topmenu>toolbarshowend</topmenu>
  <!--隐藏工具栏的结束标记,必须与toolbarshow开始标记配对使用,标记区域内的菜单功能将自动进入可隐藏工具栏-->
  <topmenu>dragtoolbarend</topmenu>
  <topmenu>br</topmenu>
  <topmenu>dragtoolbar</topmenu>
  <topmenu>selFont</topmenu>
  <topmenu>fontSize</topmenu>
  <topmenu>dragtoolbarend</topmenu>
  <topmenu>dragtoolbar</topmenu>
  <topmenu>bold</topmenu>
  <topmenu>italic</topmenu>
  <topmenu>underline</topmenu>
  <topmenu>blank</topmenu>
  <topmenu>inserthorizontalrule</topmenu>
  <topmenu>font</topmenu>
  <topmenu>bgcolor</topmenu>
  <topmenu>createlink</topmenu>
  <topmenu>blank</topmenu>
  <topmenu>fullscreen</topmenu>
  <topmenu>table</topmenu>
  <topmenu>blank</topmenu>
  <!--可隐藏工具栏配置的开始标记,toolbarhide配置节默认为隐藏工具栏-->
  <topmenu>toolbarhide</topmenu>
  <topmenu>insertfile</topmenu>
  <topmenu>insertimage</topmenu>
  <topmenu>insertmedia</topmenu>
  <topmenu>inserttemplate</topmenu>
  <topmenu>date</topmenu>
  <topmenu>emot</topmenu>
  <topmenu>toolbarhideend</topmenu>
  <!--隐藏工具栏的结束标记,必须与toolbarhide开始标记配对使用,标记区域内的菜单功能将自动进入可隐藏工具栏-->
  <topmenu>dragtoolbarend</topmenu>
  <statusmenu>dragtoolbar</statusmenu>
  <statusmenu>imgsource</statusmenu>
  <statusmenu>imgedit</statusmenu>
  <statusmenu>imgpreview</statusmenu>
  <statusmenu>plus</statusmenu>
  <statusmenu>min</statusmenu>
  <statusmenu>dragtoolbarend</statusmenu>
  <bottommenu>dragtoolbar</bottommenu>
  <!--可隐藏工具栏配置的开始标记,toolbarhide配置节默认为隐藏工具栏-->
  <bottommenu>toolbarhide</bottommenu>
  <bottommenu>getpage</bottommenu>
  <plugin_bottommenu>openwin,wordfunction,importword.aspx,img/word.gif,400,90</plugin_bottommenu>
  <bottommenu>symbol</bottommenu>
  <bottommenu>codehighlight</bottommenu>
  <bottommenu>help</bottommenu>
  <bottommenu>toolbarhideend</bottommenu>
  <!--隐藏工具栏的结束标记,必须与toolbarhide开始标记配对使用,标记区域内的菜单功能将自动进入可隐藏工具栏-->
  <bottommenu>dragtoolbarend</bottommenu>
</configuration>