<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <topmenu>paragraph</topmenu>
  <topmenu>fontsize</topmenu>
  <topmenu>selfont</topmenu>
  <topmenu>justifyright</topmenu>
  <topmenu>justifycenter</topmenu>
  <topmenu>justifyleft</topmenu>
  <topmenu>underline</topmenu>
  <topmenu>italic</topmenu>
  <topmenu>bold</topmenu>
  <topmenu>insertimage</topmenu>
  <topmenu>date</topmenu>
  <topmenu>time</topmenu>
  <topmenu>symbol</topmenu>
  <topmenu>emot</topmenu>
</configuration>