<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <topmenu>dragtoolbar</topmenu>
  <topmenu>paragraph</topmenu>
  <topmenu>specialtype</topmenu>
  <topmenu>dragtoolbarend</topmenu>
  <topmenu>dragtoolbar</topmenu>
  <topmenu>justifyleft</topmenu>
  <topmenu>justifycenter</topmenu>
  <topmenu>justifyright</topmenu>
  <topmenu>blank</topmenu>
  <topmenu>insertorderedlist</topmenu>
  <topmenu>insertunorderedlist</topmenu>
  <topmenu>outdent</topmenu>
  <topmenu>indent</topmenu>
  <topmenu>blank</topmenu>
  <topmenu>undo</topmenu>
  <topmenu>redo</topmenu>
  <topmenu>blank</topmenu>
  <topmenu>removeformat</topmenu>
  <topmenu>delete</topmenu>
  <topmenu>cut</topmenu>
  <topmenu>copy</topmenu>
  <topmenu>paste</topmenu>
  <topmenu>pastetext</topmenu>
  <topmenu>pasteword</topmenu>
  <topmenu>dragtoolbarend</topmenu>
  <topmenu>br</topmenu>
  <topmenu>dragtoolbar</topmenu>
  <topmenu>selFont</topmenu>
  <topmenu>fontSize</topmenu>
  <topmenu>dragtoolbarend</topmenu>
  <topmenu>dragtoolbar</topmenu>
  <topmenu>bold</topmenu>
  <topmenu>italic</topmenu>
  <topmenu>underline</topmenu>
  <topmenu>blank</topmenu>
  <topmenu>inserthorizontalrule</topmenu>
  <topmenu>font</topmenu>
  <topmenu>bgcolor</topmenu>
  <topmenu>createlink</topmenu>
  <topmenu>blank</topmenu>
  <topmenu>sub</topmenu>
  <topmenu>sup</topmenu>
  <topmenu>blank</topmenu>
  <topmenu>div</topmenu>
  <topmenu>table</topmenu>
  <topmenu>insertfile</topmenu>
  <topmenu>insertimage</topmenu>
  <topmenu>insertmedia</topmenu>
  <topmenu>inserttemplate</topmenu>
  <topmenu>emot</topmenu>
  <topmenu>dragtoolbarend</topmenu>
  <statusmenu>dragtoolbar</statusmenu>
  <statusmenu>imgsource</statusmenu>
  <statusmenu>imgedit</statusmenu>
  <statusmenu>imgpreview</statusmenu>
  <statusmenu>plus</statusmenu>
  <statusmenu>min</statusmenu>
  <statusmenu>dragtoolbarend</statusmenu>
  <bottommenu>dragtoolbar</bottommenu>
  <bottommenu>getpage</bottommenu>
  <plugin_bottommenu>openwin,wordfunction,importword.aspx,img/word.gif,400,90</plugin_bottommenu>
  <bottommenu>formatstripper</bottommenu>
  <bottommenu>excel</bottommenu>
  <bottommenu>symbol</bottommenu>
  <bottommenu>time</bottommenu>
  <bottommenu>date</bottommenu>
  <bottommenu>icq</bottommenu>
  <bottommenu>msn</bottommenu>
  <bottommenu>qq</bottommenu>
  <bottommenu>calculator</bottommenu>
  <bottommenu>quote</bottommenu>
  <bottommenu>code</bottommenu>
  <bottommenu>codehighlight</bottommenu>
  <bottommenu>pagebreak</bottommenu>
  <plugin_bottommenu>command,插入网页方框,InsertFieldset,img/fieldset.gif</plugin_bottommenu>
  <bottommenu>resettoolbar</bottommenu>
  <bottommenu>fullscreen</bottommenu>
  <bottommenu>search</bottommenu>
  <bottommenu>printer</bottommenu>
  <bottommenu>help</bottommenu>
  <bottommenu>dragtoolbarend</bottommenu>
</configuration>